#desc {
    font-size: 25px;
    font-weight: 500;
}
.main-content{
    display: flex;
    justify-content: center;
    margin: 10px;
}

#main-content-about {
    text-align: center;
}
#grid-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto; 
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    border-radius: 8px;
}

#grid-contents img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure images cover their grid area */
}

#mission {
    height: 65vh;
    grid-column: 1 / 2; /* Position in the first column */
    grid-row: 1 / 2; /* Position in the first row */
    max-height: 400px;
}

#mission-content {
    grid-column: 2 / 3; /* Position in the second column */
    grid-row: 1 / 2; /* Position in the first row */
    background-color: #0a6bb1;
    color:rgb(242, 245, 214);
    font-size: 25px;
    padding-left: 20px;
    border-radius: 8px;
}

#vr-lady {
    max-height: 400px;
    grid-column: 1 / 2; /* Position in the first column */
    grid-row: 2 / 3; /* Position in the second row */
}

#story {
    grid-column: 2 / 3; /* Position in the second column */
    grid-row: 2 / 3; /* Position in the second row */
    background-color: #7fc15d;
    color:rgb(3, 3, 0);
    font-size: 25px;
    padding-left: 20px;
    border-radius: 8px;
}

#team-image {
    grid-column: 1 / 2; /* Position in the first column */
    grid-row: 3 / 4; /* Position in the third row */
    max-height: 400px;

}

#team {
    grid-column: 2 / 3; /* Position in the second column */
    grid-row: 3 / 4; /* Position in the third row */
    background-color: #e66809;
    color:rgb(3, 3, 0);
    font-size: 25px;
    padding-left: 20px;
    border-radius: 8px;
}
.why-section {
    padding-top: 2em;
    background-color: #0a6bb1;
    color:rgb(242, 245, 214);
    font-size: 25px;
    height: 35vh;
    width:auto;
}
.footer {
    margin-top: 5%;
}