#about-title {
    padding-left: 1em;
}
#main-content-about {
    text-align: center;
}

button {
 margin-left: 10%;
 font-size: 18px;
}
#grid-contents {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: auto auto auto; /* Three rows, auto-sized */
    gap: 20px; /* Space between items */
    padding: 20px; /* Padding around the grid */
    max-width: 1200px; /* Max width of the grid container */
    margin: 0 auto; /* Center the grid container */
}

#grid-contents img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure images cover their grid area */
}

#mission {
    height: 65vh;
    grid-column: 1 / 2; /* Position in the first column */
    grid-row: 1 / 2; /* Position in the first row */
}

#mission-content {
    grid-column: 2 / 3; /* Position in the second column */
    grid-row: 1 / 2; /* Position in the first row */
    background-color: #0a6bb1;
    color:rgb(242, 245, 214);
    font-size: 25px;
}

#vr-lady {
    max-height: 55vh;
    grid-column: 1 / 2; /* Position in the first column */
    grid-row: 2 / 3; /* Position in the second row */
}

#story {
    grid-column: 2 / 3; /* Position in the second column */
    grid-row: 2 / 3; /* Position in the second row */
    background-color: #7fc15d;
    color:rgb(3, 3, 0);
    font-size: 25px;
}

#team-image {
    grid-column: 1 / 2; /* Position in the first column */
    grid-row: 3 / 4; /* Position in the third row */

}

#team {
    grid-column: 2 / 3; /* Position in the second column */
    grid-row: 3 / 4; /* Position in the third row */
    background-color: #e66809;
    color:rgb(3, 3, 0);
    font-size: 25px;
}
.p-padding {
    padding: .5em;
}
h4{
    font-family: "Poetsen One", sans-serif;
    font-size: 25px;
    font-weight: 200;
    font-style: normal;
}
.p-margin {
    margin-left: 12%;
    margin-right: 12%;
}
.why-section {
    padding-top: 2em;
    background-color: #0a6bb1;
    color:rgb(242, 245, 214);
    font-size: 25px;
    height: 35vh;
    width:auto;
}