input, textarea {
    border-radius: 8px;
    border: 1px solid #b1b0b0;
}
input {
    height: 30px;
}
.containerForm {
    display:flex;
    justify-self: center;
    background-color: #fff;
    opacity: .8;
    border-radius: 12px;
    padding: 50px;
    margin: 40px;
    color:#000;
    font-size: 25px;
    box-shadow: 3px 5px 5px #6f6e6e;
}
.nameContainer, .contactSectB {
    display:flex;
}
.first, .last, .phone, .email {
    flex:1;
    padding-bottom: 20px;
}
.cta-contact-us {
    text-align: center;
}

.contact-us-header {
    text-align: center;
}

.btn-muted {
    background-color: red;
    box-shadow: 5px 2px 5px #484747;
    margin: 2%;
}

.check-box {
    height: 25px;
    width: 25px;
}

#details{
    margin-bottom: 16px;
}
.btn-secondary {
    background-color: #7fc15d;
    box-shadow: 5px 2px 5px #484747;
}