.log-in-form-section {
    padding: 1em;
}
#log-in-form {
    display: flex;
    justify-content: center;
    background-color: #0a6bb1;
    margin: 24%;
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 8px;
    text-align: center;
    padding-right:1%;
    width: 46%;
    color: #fff;
    box-shadow: 5px 3px 8px hsl(210, 2%, 20%)
}
.login-text {
    padding-right: 80px;
}
#join-us {
    height: 70vh;
    width: auto;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

input {
    background-color: #062d48;
    height: 35px;
    font-size: 25px;
    border-radius: 8px;
    color: #f8f5f0;
    text-align: center;
    border: 2px solid #eea616;
}
::placeholder {
    color:#c9c2c2;
}
#log-in {
    justify-self: center;
}
.title{
    text-align: center;
}
.form-link {
    color: #7fc15d;
}
.reset {
    padding-right: 1em;
}

img#join-us {
    margin-right: 75px;
    box-shadow: none;
}
section.main-content {
    padding-bottom: 0;
    width: 450px;
}

.form-step {
  display: none; 
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1000;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 50%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}
.enter-details-para {
    text-align: center;
}
#nextStep2 {
    background-color: #51952f;
}
.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}
.modal-1 input {
    margin: 10px;
}
#step1, #step2, #step3 {
    display:none;
    flex-direction: column;
    align-items: center;
}
.form-step.active {
    display: flex !important;
}
.modal input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 2px solid #eea616;
    background-color: #062d48;
    color: #f8f5f0;
    text-align: center;
    font-size: 18px;
}

.modal button {
    background-color: #fb8209;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 2px 5px #a9a7a7;
    margin: 20px;

}
button#openModal:hover, .modal button:hover {
    background-color: #ee448e;
}
button#log-in {
    box-shadow: 5px 2px 5px #3e3e3e;
}
a#reg-link:hover, a#forgot-password:hover {
    color: #ee448e;
}