.log-in-form-section {
    padding: 1em;
}
#log-in-form {
    display: flex;
    justify-content: center;
    background-color: #0a6bb1;
    margin: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}
#join-us {
    height: 75vh;
    width: auto;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
p, a {
    padding-left: 2em;
}

#log-in {
    margin-left: 6em;
}