:root {
    --color-primary: #0a6bb1;
    --color-secondary: #fb8209;
    --color-accent: #7fc15d;
    --color-headings: #080708;
    --color-body: #ee448e;
    --color-body-darker: #24bdb0;
    --color-border: #F2D3A7;
    --border-radius: 30px;
  }
body, html {
    min-height: 300vh; 
    margin: 0; 
}
header, body, nav  {
    overflow: visible;
}
body {
    background-image: url("images/parachute.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    width: 100%;
}
body, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1 {
    font-size: 72px;
    margin-bottom: 0;
    margin-top: 0; 
}
header, footer {
    font-size: 20px;
}
header {
    height: auto;
}
#logo {
    height: 12vh;
}
img {
    border-radius: 12px;
}
button {
    padding: 12px;
    background-color: #fb8209;
    color: #000;
    font-weight: 700;
    border-radius: 8px;
    border-style: none;
    font-size: 16px;
}
button:hover {
    background-color: #ee448e;
    color: #000;
    padding: 12px;
    border-radius: 8px;
}
nav {
    display: flex;
    justify-content: left;
    background-color:#0a6bb1;
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 1%;
    box-shadow: 1px 1px 1px 1px#063d64ac;
}
button a {
    text-decoration: none;
    color: #000;
}
button.login {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    background-color: #fb8209;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    height:auto;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px
}
button.login a {
    text-decoration: none;
    color: #000;
}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    padding-top: .5em;
    padding-left: 20em;
    padding-bottom: .5em;
    text-align: start;
}
.nav-list a {
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: #080708;
}
.nav-list a:hover, button.login:hover, button.login a:hover {
    background-color: #ee448e;;
    color: #000;
    border-radius: 8px;
}
.nav-list a:hover {
    padding: 12px;
}
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }
}
#man-on-bench, #couple-zooming, #social-lady {
    height: 75vh;
    width: auto;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 50px;
}
#internet,
#waving, #scam, #privacy,
#resources-intro, #discussion,
#community-discussion, #get-started {
    height: 75vh;
    width: auto;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
article, section {
    font-size: 22px;
}

.call-to-action {
    display: flex;
    font-weight: 300;
    font-style: normal;
    color: #000;
    padding-left: 8em;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: #3bacd55d;

    max-height: 250px;
}
/*Hiding for Internal Users only*/
li#community {
    display:none;
}
.call-to-action h1 {
    margin-top: 20px;
}
.call-to-action h2 {
    font-size: 24px;
}
.cta-cont {
    padding: 1em 1em 1em 10em;
    justify-items: center;
    font-size: 24px;
    text-align: left;
}
.featured-content-list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0;
}
section.main-content {
    padding: 0;
    display: flex
}
#gamer-ladies {
    height: 350px;
    width: 500px;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 5%;
}
 .intro-home, .intro-home-text {
    flex: 1;
 }
 .intro-home {
    justify-items: flex-end;
 }

.empowering {
    padding-top: 50px;
}
.empowering-p {
    width: 514px;
    font-size: 22px;
}
.featured-content {
    background-color: #0a6bb1;
    color: #FFF;
}
.join-newsletter {
    text-align: center;
}
.featured-content-title {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    gap: 10px;
}
.footer {
    background-color:  #7fc15d;
    padding: 20px 0;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-social a img {
    width: 24px;
    margin-right: 10px;
}
.footer-links a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
}
.footer-links a:last-child {
    margin-right: 0;
}
.footer-copyright {
    color: black;
    font-size: 14px;
}
