:root {
    --color-primary: #0a6bb1;
    --color-secondary: #fb8209;
    --color-accent: #7fc15d;
    --color-headings: #080708;
    --color-body: #ee448e;
    --color-body-darker: #24bdb0;
    --color-border: #ccc;
    --border-radius: 30px;
  }
body, html {
    height: 100%; 
    margin: 0; 
}
body {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 40px;
}
body, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1 {
    font-size:35px;;
}
header, footer {
    font-size: 20px;
}
#logo {
    height: 8vh;
}
button {
    padding: 1em;
    background-color: #fb8209;
    color: black;
    font-weight: 700;
    border-radius: 25px;
    border-color: #f67606;
    font: 25px;
    font-size: 18px;
}
button:hover {
    background-color: var(--color-body)
}
nav {
    display: flex;
    justify-content:left;
    opacity: .7;
    background-color:#0b5deb;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 18px;
    padding-top: .75em;
    padding-left: 20em;
    padding-bottom: .75em;
    text-align: start;
    font-weight: 800px;
}
.nav-list a {
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: rgb(244, 225, 225);
}
.nav-list a:hover {
    background-color: #f67606;
    color:black;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .75em;
    border-radius: 15px;

}
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }
}
#man-on-bench, #couple-zooming, #social-lady {
    height: 75vh;
    width: auto;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
#internet,
#waving, #scam, #privacy,
#resources-intro, #discussion,
#community-discussion, #get-started {
    height: 75vh;
    width: auto;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
article, section {
    font-weight: 600;
    font-size: 18px;
}
#gamer-ladies {
    height:auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.call-to-action {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-style: normal;
    color: #151312;
    padding-left: 8em;
    padding-right: 10em;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: #f4f6f3;
    opacity: .8;
}
.call-to-action h2 {
    font-size: 23px;
}
.featured-content-list {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.intro-home, .featured-content-list, 
#digital-comp, .digital-comp-list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0;
}
.dcl-perks {
    padding: 1em;
}
  .blog-latest
#about {
    text-align: center;
}

.call-button {
    align-items: center;
}

section.main-content {
    padding: 0;
}

.digital-comp-list {
    background-color: #0a6bb1;
    color:rgb(242, 245, 214);
    font-size: 25px;
    height: 45vh;
    width:auto; 
}
#digital-comp  {
    padding-top: 3em;
    font-size: 30px;
    color:rgb(242, 245, 214);
    background-color: #0a6bb1;

}
.blog-latest {
    background-color: #0a6bb1;
    color:rgb(242, 245, 214);
    font-size: 25px;
    height: 35vh;
    width:auto;
    padding-top: 1em;
    margin-left: 10%;
    margin-right:10%; 
    text-align: center;
}

.empowering {
    margin-left: 15%;
    padding-right: 10%;
    max-width: 100vh;
}
.join-newsletter {
    text-align: center;
    font-size: 20px;
}
.featured-content-title {
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-size: 30px;
}

