.main-content {
    padding: 2em 10%;
    text-align: center;
}
#friends {
    max-width: 100%;
    width:100%;
    height:auto;
}
#tech-cta {
    margin-left: 10em;
    padding-bottom: 3em;
}

#free-tutorials {
    padding-top: 2em;
    padding-bottom: 2em;    
    background-color: #0a6bb1;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 15em;
    text-align: left;
}

#free-tutorials h1 {
    color: #faf6f6;
    font-family: "Poetsen One", sans-serif;
    font-size: 30px;
}
h2 {
    font-family: "Poetsen One", sans-serif;
}
#free-tutorials {
    display: flex;
    font-size: 22px;
    font-weight: 600;
    margin: 0.5em 0;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
}
#free-tutorials div a:hover {
    color: #fb8209;
}
.chat-apps strong {
    display: block;
    flex:1;
    font-size: 20px;
    color: #0a6bb1;
    margin-bottom: 0.5em;
    opacity: .7;
    flex: 1;
    text-align: left;
}
.waving img {
    flex: 1;
    max-width: auto;
    height: 75vh;
}
h3, h4 {
    color:black;
    text-decoration: none;
}
#featured-title {
    background-color: #0a6bb1;
    margin-bottom: 0;
    padding-bottom: 0;
}
